/* styles.css */
.assignment {

    background-color: #e5fbe5; /* Light green background color */
    border-color: #006400; /* Dark green border color */
    border-width: 2px; /* Border width */
    border-style: solid; /* Border style */
    
}
.start {
    background-color: #e5fbe5; /* Light green background color */
    border-color: #006400; /* Dark green border color */
    border-width: 2px; /* Border width */
    border-style: solid; /* Border style */
    border-radius: 50%;

}
.end {
    background-color: #fae5e5; /* Light green background color */
    border-color: #ff0000; /* Dark green border color */
    border-width: 2px; /* Border width */
    border-style: solid; /* Border style */
    border-radius: 50%;

}

.subprocess {

    background-color: #e9eaff; /* Light green background color */
    border-color: #0022ff; /* Dark green border color */
    border-width: 2px; /* Border width */
    border-style: solid; /* Border style */  
}

.subprocess-button-container {
    position: relative;
}
.plus-sign {
    position: absolute;
    bottom: 4px; /* Adjust the bottom position as needed */
    left: 4px; /* Adjust the left position as needed */
    width: 12px; /* Adjust the width as needed */
    height: 12px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0); /* Background color for visibility */
    /* border-radius: 50%; Rounded shape */
    border: 1px solid black; /* Border for visibility */
    font-size: 10px; /* Font size for the plus sign */
    color: rgb(255, 255, 255); /* Color for the plus sign */
}


/* styles.css */
.diamond-container {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0; /* Remove any padding */
    border-radius: 0; /* Reset border radius */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Diamond shape */
    background-color: #FFA500; /* Orange background color */
    display: flex;
    justify-content: center;
    align-items: center;
}

.decision {
    background-color: #fdefd4; /* Orange background color */
    border: none; /* Remove default button border */
   
}

.stages-button {
    left: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1px 12px;
    background-color: #f0f0f0; /* Customize the background color */
    border-radius: 4px;
    text-decoration: none; /* Remove underline from the link text */
    color: black;
    font-weight: normal; /* Add bold font weight */
    display: inline-flex; /* Use inline-flex to properly align the link */
    align-items: center; /* Center the link's content */
    justify-content: center;
    border: 1px solid #000000; /* Center the link's content */
}

.stages-button:hover {
    background-color: #ffffff; /* Change background color on hover */
}


.dropdown-toggle{
    padding: 1px 5px;
    background-color: #f0f0f0;
    border-radius: 0px;
}

.dropdown-toggle:hover{
    background-color: #ffffff;
    border: #ffffff;

}

.button{
    margin-right: 10px;
    padding: 1px 7px;
    background-color: #f0f0f0;
    border-radius: 0px;
    border: 1px solid #f0f0f0;
    color: #727272;
}

.button:hover{
    background-color: #ffffff;
    border: #ffffff;
    color: #2c2c2c;

}

